<!DOCTYPE html>
<html>
	<head>
		<title>Innocent Writings</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Innocent's Blog</a></h1>
		</header>
		
		{% for post in posts %}
		<article>
			<time> Published: 09.06.2022, 19:53</time>
			<h2><a href="">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>

		</article>
		{% endfor %}
		
		{% for post in posts %}
		<article>
			<time>Published: 09.06.2022, 20:08</time>
			<h2><a href="">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
		</article>
		{% endfor %}
	</body>
</html>
